.TelegramButton {
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background: #25a5e4;
  font-family: var(--second-family);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TelegramButton:hover{
    background: #146C97;
}

.TelegramButton.medium {
  padding: 15px 20px;
  width: 261px;
  height: 59px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
