.item {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        line-height: 108%;
        color: var(--osnov);
        padding-top: 10px;
    }

    &__text {
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .item {
        max-width: 313px;
        gap: 8px;

        &__img {
            width: 70px;
            height: 70px;
        }
    
        &__title {
            font-size: 20px;
            line-height: 110%;
            padding-top: 8px;
        }
    
        &__text {
            font-size: 17px;
            line-height: 112%;
        }
    }
}

@media (max-width: 360px) {
    .item {
        max-width: 260px;
    }
} 