:root {
  --osnov: #134397;
  --zadniy-fon: #e9e9e9;
  --dop: #0051de;
  --zagol: #0a2463;
  --illyuroz: #30ddd4;
  --333: #d23216;
  --cvet-fona: #eee;
  --font-family: "Roboto", sans-serif;
  --second-family: "Gilroy-Bold", sans-serif;
  --third-family: "Gilroy-Medium", sans-serif;
  --font4: "Gilroy-Regular", sans-serif;
  --font6: "Gilroy", sans-serif;

}
