.slider__wrapper {
    position: relative;
    max-width: 100%;
}

.content__slide {
    background: url(/assets/images/SwiperBg.svg) center / cover no-repeat;
    padding: 40px 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .content__up {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .content__title {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 26px;
            line-height: 100%;
            text-align: center;
            color: #fff;
        }
    }

    .content__stars {
        display: flex;
        justify-content: center;
        column-gap: 15px;
    }

    .content__review {
        max-width: 884px;
        .content__text {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 24px;
            line-height: 108%;
            text-align: center;
            color: #fff;
        }
    }
}
  
.swiper__pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 25px;
}
  
.swiper__pagination :global(.swiper-pagination-bullet) {
    width: 15px;
    height: 15px;
    background-color: #bcbcbc;
    border-radius: 50%;
    transition: all 0.3s;
    opacity: 1;
}
  
.swiper__pagination :global(.swiper-pagination-bullet-active) {
    background-color: var(--dop);
}


@media (max-width: 500px) {
    .content__slide {
        background: url(/assets/images/SwiperBgMobile.svg) center / cover no-repeat;
        gap: 20px;
    
        .content__up {
            padding-bottom: 5px;
            gap: 10px;

            .content__img {
                width: 50px;
                height: 50px
            }
    
            .content__title {
                font-family: var(--font-family);
                font-size: 18px;
                line-height: 111%;
            }
        }
    
        .content__stars {
            column-gap: 7px;

            .content__star {
                width: 26px;
                height: 24px;
            }
        }
    
        .content__review {
            max-width: 884px;
            .content__text {
                font-family: var(--second-family);
                font-size: 14px;
                line-height: 129%;
            }
        }
    }

    .swiper__pagination {
        gap: 3px;
        margin-top: 18px;
    }
      
    .swiper__pagination :global(.swiper-pagination-bullet) {
        width: 10px;
        height: 10px;
    }
}
  

@media (max-width: 390px) {
    .content__slide {
        padding: 20px 30px;
    }
}

@media (max-width: 340px) {
    .content__slide {
        padding: 10px 20px;
    }
}